.chakra-input {
  border-radius: 30px;
}
.chakra-button:hover {
  background-color: transparent;
  text-decoration: underline;
}
.chakra-button[data-selected="true"] {
  font-weight: bold;
}

.chakra-select__control button {
  border-radius: 5px;
}
.platforms-list {
  opacity: 0.6;
}

html.dark body {
  background: #333;
  color: white;
}
#root {
  padding: 20px;
}
html.dark .chakra-input {
  border: 1px solid #999;
}


html.light {
  background: #FFF;
  color: #333;
}
html.light .chakra-input {
  border: 1px solid #333;
  color: #333;
}
html.light .genre-item {
  color: #333;
}